PRACTICAL ANSWERS.

In [ ]:
# 1.  Write a code to create a string with your name and print

my_name = "Your Name"
my_name

'Your Name'

In [ ]:
# 2. Write a code to find the length of the string "Hello World"?
greet = "Hello World";
print(len(greet))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python Programming"
sliced_string = my_string[:3]  # Slice from the beginning up to (but not including) index 3
sliced_string

'Pyt'

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
Word = "Hello"
print(Word.upper())

HELLO

In [ ]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
fruits = ["apple", "banana", "Guava"]
fruits[0] = "orange"
print(fruits)

['orange', 'banana', 'Guava']

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple = ("apple", "banana", "cherry")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Alpha_bet = {'a', 'b', 'c'}
print(Alpha_bet)

{'c', 'a', 'b'}

In [ ]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)  # or set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)  # or set1 & set2
print(intersection_set)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])
print(my_dict['age'])

Alice
30

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25}

In [ ]:
 # 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
 # result.(replaced)

import random

def generate_and_sort_random_numbers():
    random_numbers = random.sample(range(1, 101), 5)  # Generate 5 unique random numbers
    random_numbers.sort()  # Sort the list in ascending order
    return random_numbers

# Example usage:
sorted_numbers = generate_and_sort_random_numbers()
sorted_numbers

[3, 32, 53, 91, 94]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

def combine_dictionaries(dict1, dict2):
  """
  Combines two dictionaries into one.
  """
  combined_dict = dict1.copy()
  combined_dict.update(dict2)
  return combined_dict

# Example usage
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4, 'b': 5}  # Note: Key 'b' exists in both

combined = combine_dictionaries(dict1, dict2)
print(combined)

{'a': 1, 'b': 5, 'c': 3, 'd': 4}

In [ ]:
# 30  Write a code to convert a list of strings into a set.

def convert_string_list_to_set(string_list):
  """Converts a list of strings to a set.
  """
  return set(string_list)

# Example usage
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = convert_string_list_to_set(my_list)
my_set

{'apple', 'banana', 'cherry', 'date'}